<footer class="footer">
    <div class = "f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/abhijit.surve.1441?mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/abhi_surve2412?igsh=YXlnam92cXVwczNv"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abhijitsurve/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
