<% layout('/layouts/boilerplate') -%>
<div class="split-container container mt-5">
  <h2>Split Expense</h2>
  <form
    method="post"
    action="/split"
    id="splitForm"
    class="needs-validation"
    novalidate
  >
    <div class="split-form-group mb-3">
      <label for="split-amount">Amount</label>
      <input
        type="number"
        class="form-control split-form-control"
        id="split-amount"
        name="amount"
        required
      />
      <div class="invalid-feedback">Amount is required.</div>
    </div>
    <div class="split-form-group mb-3">
      <label for="split-description">Description</label>
      <input
        type="text"
        class="form-control split-form-control"
        id="split-description"
        name="description"
        required
      />
      <div class="invalid-feedback">Description is required.</div>
    </div>
    <div class="split-form-group mb-3">
      <div id="split-emailFields">
        <!-- Container for dynamically added email fields -->
      </div>
      <button type="button" class="split btn btn-primary" id="addEmailField">
        Add Email
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="split btn btn-success">Split</button>
    </div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const addEmailFieldButton = document.getElementById("addEmailField");
    const emailFieldsContainer = document.getElementById("split-emailFields");
    const splitForm = document.getElementById("splitForm");

    function addEmailField() {
      const newFieldHtml = `
      <div class="split-input-group mb-3">
          <label>Email</label>
          <div class="email-input-container d-flex align-items-center">
              <input type="email" class="form-control split-form-control" name="emails[]" required>
              <button class="btn btn-outline-secondary remove-field ms-2" type="button" aria-label="Remove email field">&times;</button>
          </div>
          <div class="invalid-feedback">Email is required.</div>
      </div>`;
      emailFieldsContainer.insertAdjacentHTML("beforeend", newFieldHtml);
    }

    addEmailFieldButton.addEventListener("click", function () {
      addEmailField();
    });

    emailFieldsContainer.addEventListener("click", function (e) {
      if (e.target.classList.contains("remove-field")) {
        e.target.closest(".split-input-group").remove();
      }
    });

    splitForm.addEventListener(
      "submit",
      function (event) {
        if (!splitForm.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        splitForm.classList.add("was-validated");
      },
      false
    );
  });
</script>

